<!DOCTYPE html>
<html>

<head>
    <style>
        @import url(./src/css/index.css);

        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0);
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgb(0, 165, 187);
        }
    </style>
</head>

<body>
    <div id="timer&layer" class="relative h-screen w-screen bg-green-300">
        <div class="h-full w-full"></div>
    </div>
    <div id="drawer" class="relative  h-screen w-screen">
        <div class="h-full w-full"></div>
    </div>
    <div id="tooler" class="h-screen w-screen bg-green-500">
        <div class="h-full w-full"></div>
    </div>

</body>

</html>