.top-1 {
    top: 0.25rem;
}

.top-2 {
    top: 0.5rem;
}

.top-3 {
    top: 0.75rem;
}

.top-4 {
    top: 1rem;
}

.top-5 {
    top: 1.25rem;
}

.top-6 {
    top: 1.5rem;
}

.top-8 {
    top: 2rem;
}

.top-10 {
    top: 2.5rem;
}

.top-12 {
    top: 3rem;
}

.top-16 {
    top: 4rem;
}

.top-20 {
    top: 5rem;
}

.top-24 {
    top: 6rem;
}

.top-32 {
    top: 8rem;
}

.top-40 {
    top: 10rem;
}

.top-48 {
    top: 12rem;
}

.top-56 {
    top: 14rem;
}

.top-64 {
    top: 16rem;
}